# created by virtualenv automatically
/Scripts
/Lib
/.idea
/desktop.ini
/pyvenv.cfg
/test.py
/01/test_01.py
/02/test_02.py
/05/test_05.py
/06/test_06.py
/07/test_07.py
/08/test_08.py
/09/test_09.py
/10/test_10.py
/11/test_11.py
/12/test_12.py
/13/test_13.py
